<div class="keep-c-list-container">
	<label>Not-Started</label>
	
	<!-- Populate notStartedNotes -->
	<app-note *ngFor="let note of notStartedNotes" [note]="note" class="note-card"></app-note>
</div>
<div class="keep-c-list-container">
	<label>Started</label>
	<app-note *ngFor="let note of startedNotes" [note]="note" class="note-card"></app-note>
	
	<!-- Populate startedNotes -->
</div>
<div class="keep-c-list-container">
	<label>Completed</label>

	<!-- Populate completedNotes -->
	<app-note *ngFor="let note of completedNotes" [note]="note" class="note-card"></app-note>
</div>
